# SMTP-Gmail-Zugangsdaten (App-Passwort, nicht das Google-Passwort!)
# App-Passwort erstellbar unter: https://myaccount.google.com/apppasswords
SMTP_USER=deine-adresse@gmail.com
SMTP_PASS=xxxx-xxxx-xxxx-xxxx
NOTIFY_TO=empfaenger@gmail.com
